<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AppForSharePointOnlineWebToolkit" version="3.1.5" targetFramework="net46" />
  <package id="Microsoft.IdentityModel" version="7.0.0" targetFramework="net46" />
  <package id="Microsoft.IdentityModel.JsonWebTokens" version="6.16.0" targetFramework="net46" requireReinstallation="true" />
  <package id="Microsoft.IdentityModel.Logging" version="6.16.0" targetFramework="net46" requireReinstallation="true" />
  <package id="Microsoft.IdentityModel.Protocols" version="6.16.0" targetFramework="net46" requireReinstallation="true" />
  <package id="Microsoft.IdentityModel.Protocols.OpenIdConnect" version="6.16.0" targetFramework="net46" requireReinstallation="true" />
  <package id="Microsoft.IdentityModel.Tokens" version="6.16.0" targetFramework="net46" requireReinstallation="true" />
  <package id="Microsoft.SharePointOnline.CSOM" version="16.1.22111.12000" targetFramework="net46" />
  <package id="System.IdentityModel.Tokens.Jwt" version="6.16.0" targetFramework="net46" requireReinstallation="true" />
</packages>